body {background-image: url("WOW-Legion.jpg");
        background-size: cover;
}

h1 {text-align: center;
        color: teal;
        
}

h2 {text-align: center;
        color: teal;
        
}

.guild {background-color: black;
        color: teal;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 17px;
        padding-left: 300px;
        padding-right:300px;
        border-style: solid;
            
}
.element2 {
    background: teal;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 17px;
    margin-right: 1000px;
    border-style: solid;
}
 
 
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}    


@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}   


@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}


@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
   